{% extends 'users/base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
<div class="alert alert-danger">
    Welcome <a href="{% url 'profile' id=request.user.id %}">{{ request.user.username }}</a>
</div>
{% endif %}
<h1>Posts</h1>
<div class="row">
    {% for post in posts %}
    <div class="col-md-3 mb-4">
        <div class="card">
            <img src="{{ post.image.url }}" class="card-img-top" alt="Post Image">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <small class="text-muted">Published on {{ post.published_at | date:"M d, Y" }} by {{ post.author.username }}</small>
                <p class="card-text">{{ post.content }}</p>
				<form method="POST" action="{% url 'like_post' id=post.id %}">
					{% csrf_token %}
					<button type="submit" class="btn btn-primary" name="post_id" value="{{post.id}}">Like {{post.total_likes }}</button>
				  </form>
                {% if request.user.is_authenticated and request.user == post.author %}
                <p class="pt-2">
                    <a href="{% url 'edit_post' id=post.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'post_delete' id=post.id %}" class="btn btn-danger">Delete</a>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
