
{% extends 'users/base.html' %}

{% block content %}

<div class="row">
  <div class="col-sm-8">
    <h4 class="alert alert-info">{{ user.username }}</h4>
    <div class="btn-group mb-3" role="group" aria-label="User Actions">
      <a href="{% url 'home' %}" class="btn btn-danger">Home</a>
      <a href="{% url 'post-create' %}" class="btn btn-success">New Post</a>
      <a href="{% url 'logout' %}" class="btn btn-secondary">Logout</a>
      {% if user != request.user %}
        <h2>Users</h2>
        <ul>
          {% for potential_friend in potential_friends %}
            <li>
              <a href="{% url 'send_friend_request' potential_friend.id %}">{{ potential_friend.username }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    {% comment %} Posts Data {% endcomment %}
    <h1>Posts by {{request.user.username}}</h1>
<div class="row">
  {% for post in posts %}
    <div class="col-md-3 mb-4">
      <div class="card">
        <img src="{{ post.image.url }}" class="card-img-top" alt="Post Image">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <small class="text-muted">Published on {{ post.published_at | date:"M d, Y" }} by {{ post.author.username }}</small>
          <p class="card-text">{{ post.content }}</p>
          <form method="POST" action="{% url 'like_post' id=post.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary" name="post_id" value="{{post.id}}">Like {{post.total_likes }}</button>
          </form>
          {% if request.user.is_authenticated and request.user == post.author %}
            <p class="pt-2">
              <a href="{% url 'edit_post' id=post.id %}" class="btn btn-primary">Edit</a>
              <a href="{% url 'post_delete' id=post.id %}" class="btn btn-danger">Delete</a>
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>


  </div>
  <div class="col-md-4">
    <h4 class="alert alert-info">All Users</h4>
    <div class="card">
      <div class="card-body">
        <ul>
          {% for user in allusers %}
            <li class="pt-2">{{ user.username }} <button class="btn btn-primary btn-sm" onclick="sendFriendRequest({{ user.id }})">Send Friend Request</button></li>
          {% empty %}
            <li>No users found</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    
    <h4 class="alert alert-info mt-5">All Friends</h4>
    <div class="card">
      <div class="card-body">
        <ul>
          {% for user in allusers %}
            <li class="pt-2">{{ user.username }} </li>
          {% empty %}
            <li>Friend is empty</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
 
</div>

{% endblock content %}



